<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title" style="color:red">Promotions And Offers</h4>
                    <!-- <p class="category">Created using <a href="https://www.google.com/fonts/specimen/Muli">Muli</a> Font Family</p> -->
                </div>
                <div class="table-responsive my-custom-scrollbar">
                        <table class="table table-striped">
                            <thead>
                                <tr style="color:red">
                                    <th>Items</th>
                                    <th>Catagory</th>
                                    <th>Price</th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Biriyani</td>
                                    <td>Main Dish</td>
                                    <td><img src="./assets/special-offers.png" style="width:40px;height:40px"><i class="fa fa-inr"></i> 220</td>
                                    <button class="btn btn-primary" style="margin-top:10%">Edit</button>
                                    <!-- <td style="width: 300px;">
                                   
                                                    <div class="col-2 text-left">
                                                        <button type="button"  class="btn btn-primary">edit
      
                                                        </button>
                                                        
                                                    </div>
                                                    <div class="col- text-right" >
                                                
                                                            <button type="button"  class="btn btn-danger">close
                                                          
                                                            </button>
                                                    </div>
                                     
                                            </td> -->
                                </tr>
                                <tr>
                                        <td>Chicken Fried Rice</td>
                                        <td>Main Dish</td>
                                        <td><img src="./assets/special-offers.png" style="width:40px;height:40px"><i class="fa fa-inr"></i> 220</td>
                                        <!-- <td style="background-color:rgb(16, 241, 28)">20% Offer</td> -->
                                        <button class="btn btn-primary" style="margin-top:10%">Edit</button>
                                </tr>
                                <tr>
                                        <td>Meals</td>
                                        <td>Main Dish</td>
                                        <td><img src="./assets/special-offers.png" style="width:40px;height:40px"><i class="fa fa-inr"></i> 150</td>
                                        <!-- <img src="./assets/special-offer.jpg" style="width:40px;height:10%">20% Offer -->
                                        <button class="btn btn-primary" style="margin-top:10%">Edit</button>
                                </tr>
                                <tr>
                                        <td>Chicken Noodels</td>
                                        <td>Main Dish</td>
                                        <td><img src="./assets/special-offers.png" style="width:40px;height:40px"><i class="fa fa-inr"></i> 200</td>
                                        <!-- <td style="background-color:rgb(10, 95, 252)">20% Offer</td> -->
                                        <button class="btn btn-primary" style="margin-top:10%">Edit</button>
                                </tr>
                                <tr>
                                        <td>Chicken Noodels</td>
                                        <td>Main Dish</td>
                                        <td><img src="./assets/special-offers.png" style="width:40px;height:40px"><i class="fa fa-inr"></i> 200</td>
                                        <!-- <td style="background-color:rgb(16, 241, 28)">20% Offer</td> -->
                                        <button class="btn btn-primary" style="margin-top:10%">Edit</button>
                                </tr>
                                <tr>
                                        <td>Chicken Noodels</td>
                                        <td>Main Dish</td>
                                        <td><img src="./assets/special-offers.png" style="width:40px;height:40px"><i class="fa fa-inr"></i> 200</td>
                                        <!-- <td style="background-color:rgb(229, 19, 236)">20% Offer</td> -->
                                        <button class="btn btn-primary" style="margin-top:10%">Edit</button>
                                </tr>  
                            </tbody>
                        </table>
    
                    </div>
            </div>
        </div>

    </div>
</div>
