<div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="header">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-6">
                      <button class="btn pull-left" data-toggle="modal" data-target="#myModal"
                        style="width:20%">Additems</button>
                    </div>
                    <div class="col-md-6">
                      <input class="form-control" type="text" style="background-color:darkslategrey" name="serch" [(ngModel)]="searchdata" list="key"
                        placeholder="enter search term here">
                      <datalist name="" id="key">
                        <option *ngFor="let item of selectfod">{{item.food_name}}</option>
                      </datalist>
                    </div>
                  </div>
                </div>
                <br>
              </div>
              <div class="table-responsive my-custom-scrollbar">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr style="color:red">
                      <th>Name</th>
                      <th>Food Type</th>
                      <th>Catagory</th>
                      <th>Status</th>
                      <th>Offers(in Rupees)</th>
                      <th>Today Specials</th>
                      <th>Price</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let fod of selectfod | mainfilter:{food_name:searchdata,food_type:searchdata,
                                category:searchdata,status:searchdata,offer_value:searchdata,price:searchdata};">
                      <td>{{fod.food_name}}</td>
                      <td>{{fod.food_type}}</td>
                      <td>{{fod.category}}</td>
                      <td>{{fod.status}}</td>
                      <td>
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="" *ngIf="fod.offer_value!=0"><i class="fa fa-gift" style="color:red"></i></div>
                          </div>
                          {{fod.offer_value}}
                        </div>
                      </td>
                      <td [ngClass]="{'color':fod.today_special_status=='YES','color_one':fod.today_special_status=='NO'}">
                        {{fod.today_special_status}}</td>
                      <td><i class="fa fa-inr"></i>{{fod.price}}</td>
                      <td><i class="fa fa-pencil-square-o" data-toggle="modal" title="EDIT FOOD ITEMS" data-target="#myModal1"
                          (click)="editfood(fod)"></i>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">ADD FOOD ITEMS</h4>
            </div>
            <div class="modal-body">
              <label>Item Name</label>
              <input type="text" class="form-control" placeholder="Enter Item Name" name="itemname"
                [(ngModel)]="insert.fdname">
              <label>Item Catagory</label>
              <select name="" name="itemcat" [(ngModel)]="fdcat">
                <option *ngFor="let ngg of cat" [ngValue]="ngg.category_id">{{ngg.category}}</option>
              </select>
              <input class="form-control" placeholder="Enter Catagory here" name="itemcat" [(ngModel)]="fdcat1">
              <input type="file" accept="image/*" (change)="ActiveListener($event)" name="image" [(ngModel)]="img">
              <label>Item price</label>
              <input type="text" class="form-control" placeholder="price" name="itemprice" [(ngModel)]="insert.fdprice">
              <label>food Catagory</label>
              <select class="form-control" placeholder="Enter food Catagory here" list="type" name="foodcat"
                [(ngModel)]="fdtype">
                <option *ngFor="let gn of foodtype" [ngValue]="gn.food_type_id">{{gn.food_type}}</option>
              </select>
              <!-- <input type="file" accept="image/*" (change)="changeListener($event)" name="image" [(ngModel)]="img"> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-default" (click)="Insert_food(insert,fdcat,fdcat1,fdtype,img)">OK</button>
            </div>
          </div>
        </div>
      </div>
      
      
      
      
      
      
      <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">EDIT FOOD ITEMS</h4>
            </div>
            <div class="modal-body">
              <label>Item Name</label>
              <input type="text" class="form-control" placeholder="Enter Item Name" name="itemname"
                [(ngModel)]="getuser.fname">
              <label>OFFER</label>
              <input type="text" class="form-control" placeholder="Enter Item value" name="itemname"
                [(ngModel)]="getuser.offer">
              <label>Item status</label>
              <select class="form-control" placeholder="Enter Item status" name="itemname" [(ngModel)]="status">
                <option *ngFor="let agg of foodstatus" [ngValue]="agg.status_id">{{agg.status}}</option>
              </select>
              <label>Item Catagory</label>
              <select placeholder="Enter Catagory here" class="form-control" name="itemcat" [(ngModel)]="fdcat">
                <option *ngFor="let ngg of cat" [ngValue]="ngg.category_id">{{ngg.category}}</option>
              </select>
              <input type="file" accept="image/*" (change)="InActiveListener($event)" name="image"
                [(ngModel)]="img.updatefoodimg">
              <label>Item price</label>
              <input type="text" class="form-control" placeholder="price" name="itemprice" [(ngModel)]="getuser.fdprice">
              <label>food Catagory</label>
              <select class="form-control" placeholder="Enter food Catagory here" list="type" name="foodcat"
                [(ngModel)]="fdtype">
                <option *ngFor="let gn of foodtype" [ngValue]="gn.food_type_id">{{gn.food_type}}</option>
              </select>
              <input type="file" accept="image/*" (change)="UnchangeListener($event)" name="image"
                [(ngModel)]="img.updateitemimg">
              <label>Today Special</label>
              <select class="form-control" placeholder="select Today Special" list="type" name="tdyspecial"
                [(ngModel)]="tdyspecial">
                <option *ngFor="let spec of special" [ngValue]="spec.today_special_id">{{spec.today_special_status}}</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
              <button type="button" class="btn btn-default" 
                (click)="Update_food(getuser,fdid,fdcat,fdtype,status,tdyspecial,img)">OK</button>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">EDIT FOOD OFFERS</h4>
            </div>
            <div class="modal-body">
              <label>Item Name</label>
              <input type="text" class="form-control" placeholder="Enter Item Name" value="{{fdname}}" disabled>
              <label>Item Catagory</label>
              <input type="text" class="form-control" placeholder="Enter Catagory here" list="catagories" name="cat"
                [(ngModel)]="foodcat">
              <datalist name="" id="catagories">
                <option *ngFor="let ngg of cat">{{ngg.category}}</option>
              </datalist>
              <label>Item offer price</label>
              <input type="text" class="form-control" placeholder="price" name="offer" [(ngModel)]="offer">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
              <button type="button" class="btn btn-default" (click)="Update_food(foodcat,offer)">OK</button>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">EDIT FOOD AVAILABILITY </h4>
            </div>
            <div class="modal-body">
              <label>Item Name</label>
              <input type="text" class="form-control" placeholder="Enter Item Name" value="{{fdname}}" disabled>
              <label>Item Catagory</label>
              <input type="text" class="form-control" placeholder="Enter Catagory here" list="catagories">
              <datalist name="" id="catagories">
                <option *ngFor="let ngg of cat">{{ngg.category}}</option>
              </datalist>
              <label>Type</label>
              <input type="text" class="form-control" placeholder="Enter Catagory here" list="key3">
              <datalist name="" id="key3">
                <option>available</option>
                <option>unavailable</option>
              </datalist>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>