<div class="container-fluid">
    <div class="row" *ngIf="showhide==true">
        <div class=" col-lg-12">

            <div class="col-lg-4" *ngFor="let item of tablelist">
                <div class="card foldtl">
                    <div class="content">
                        <div class="row">

                            <div class="col-xs-7">
                                <h2>{{item.table_no}}</h2>
                            </div>
                            <div class="col-xs-5" *ngIf="item.table_status_id!= 1">
                                <img src="./assets/1.png" style="width:100%;height:50%">
                            </div>
                            <div class="col-xs-5" *ngIf="item.table_status_id== 1">
                                <img src="./assets/3.png" style="width:100%;height:50%">
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <div class="row" *ngIf="item.table_status_id == 3">
                                    <div class="col-md-4">
                                        <a style="color:rgb(14, 48, 20)">{{item.payment_type}}</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a style="color:red" (click)="getbill(item)">View&nbsp;Bill</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a style="color:rgb(27, 125, 223)" disabled>Complete</a>
                                    </div>
                                </div>
                                <div class="row" *ngIf="item.table_status_id == 2">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <a style="color:rgb(250, 165, 8)">Occupied</a>
                                    </div>
                                </div>
                                <div class="row" *ngIf="item.table_status_id == 1">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <a style="color:rgb(27, 125, 223)">Vaccant</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="showhide==false">
        <div class=" col-lg-8">

            <div class="col-lg-4" *ngFor="let item of tablelist">
                <div class="card foldtl">
                    <div class="content">
                        <div class="row">

                            <div class="col-xs-7">
                                <h2>{{item.table_no}}</h2>
                            </div>
                            <div class="col-xs-5" *ngIf="item.table_status_id!= 1">
                                <img src="./assets/1.png" style="width:100%;height:50%">
                            </div>
                            <div class="col-xs-5" *ngIf="item.table_status_id== 1">
                                <img src="./assets/3.png" style="width:100%;height:50%">
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <div class="row" *ngIf="item.table_status_id == 3">
                                    <div class="col-md-3">
                                        <a style="color:rgb(14, 48, 20)">{{item.payment_type}}</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a style="color:red" (click)="getbill(item)">View&nbsp;Bill</a>
                                    </div>
                                    <div class="col-md-5">
                                        <a style="color:rgb(27, 125, 223)" (click)="closebill(item.table_no,order)">Complete</a>
                                    </div>
                                </div>
                                <div class="row" *ngIf="item.table_status_id== 2">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <a style="color:rgb(250, 165, 8)">Occupied</a>
                                    </div>
                                </div>
                                <div class="row" *ngIf="item.table_status_id== 1">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <a style="color:rgb(27, 125, 223)">Vaccant</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 ">
            <div class="row">
                <div class="">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" style="color:red;text-align: center"> TABLE NO : {{tablevalue}}</h4>
                        </div>
                        <div class="content">
                            <div class="table-responsive my-custom-scrollbar">
                                <table class="table table-striped">
                                    <thead>
                                        <b></b>
                                        <tr style="color:red">
                                            <th>Items</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of billtable">
                                            <td>{{item.food_name}}</td>
                                            <td><i class="fa fa-times"></i>{{item.quantity}}</td>
                                            <td><i class="fa fa-inr"></i> {{item.total_price}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <!-- <div class="stats"> -->
                            <div class="row">
                                <div class="col-md-8">
                                    <a style="color:red"> Total Price :</a>
                                </div>
                                <div class="col-md-4">
                                    <p style="color:red"> {{total}}</p>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>